{
  "passPerPreset": true,
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    [
      "inline-import",
      {
        "extensions": [".json", ".graphql", ".sql"]
      }
    ],
    "styled-components"
  ],
  "env": {
    "targets": {
      "node": "current"
    }
  },
  "retainLines": true
}
