*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #7c0a02;
}

h1 {
  font-weight: 500;
}
