*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #7c0a02;
}

a {
  /* display: inline-block; */
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -ms-transition: 250ms ease;
  transition: 250ms ease;
  /* -o-transition: ease-in-out .15s;
    -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s; */
}
